[2018-10-16 21:13] roschaefer opened #1 "Dependencies for `./styleguide` are missing"
I don't know what exactly the goal of `yarn run styleguide:build` is. But when I do `yarn install` the postinstall is not run. So why not put instructions in the README?

[code]

[2018-10-16 21:47] roschaefer opened #2 "GraphQL error: Unknown function 'apoc.cypher.runFirstColumn'"
It seems the backend is running fine but the frontend is not:
![download 2](https://user-images.githubusercontent.com/2110676/47049515-d47f8e00-d19d-11e8-8bdd-4ecbe4e166bc.png)

[2018-10-20 13:04] appinteractive commented on #2
You need to install the APOC plugin on Neo4j, see https://docs.human-connection.org/nitro/api/installation/configuration

[2018-10-20 13:06] appinteractive commented on #1
There was an issue with a dependency which prevented the installation. Could you try again with the latest version and the command `yarn install --ignore-engines`?

[2018-10-20 13:07] appinteractive commented on #1
See info at https://docs.human-connection.org/nitro/ui/installation

[2018-10-20 13:31] roschaefer commented on #1
I solved that problem in the `docker` branch. You simply never install dependencies for `./styleguide`. Has nothing to do with `--ignore-engines`. I updated the README.

[2018-10-20 17:18] appinteractive commented on #1
Ups 😬, yeah I’m not do happy with the Post install anyway as it always runs but that might be a good problem preventer.

[2018-10-23 18:30] roschaefer opened #4 "Moderators can hide user content for the public (block a post)"
**Is your feature request related to a problem? Please describe.**
It might happen that if the social network goes public, that we receive troll content or even illegal content. If we are not able to hide this content we might get sued.

**Describe the solution you'd like**
For every moderator there should a button on every user contribution to hide it.

![download](https://user-images.githubuserc

[2018-10-23 21:03] appinteractive commented on #1
added it to the readme's

[2018-10-23 21:03] #1 closed

[2018-10-23 21:05] appinteractive commented on #4
There will be a context menu like currently on the alpha where you disable the content.

[2018-10-30 15:37] appinteractive opened #5 "Using LernaJS for Code splitting?"
LernaJS is a package that gives you the power to split your code into modules and maintain them in an easy way. Maybe we should try to use it to split out the style guide part!?

https://lernajs.io/

[2018-10-31 00:00] Lulalaby commented on #5
looks nice 😄

[2018-11-04 12:43] appinteractive opened #7 "Fix authentication"
We need to request the user from the api on EVERY SSR to avoid inconsistencies that we have now as the token data does not change on user updates.

This issue can be observed when chaning the own user data in the pr here: https://github.com/Human-Connection/Nitro-Web/pull/9

The values will return to the values at login time as we extract them from the JWT Token but does not update them in any way

[2018-11-12 12:50] appinteractive opened #8 "Improve Styleguide (integration)"
Currently the Stylguide is not nice to use as we have to build it every time when we change a component inside it to reflect the changes in the development process.

Maybe we could use #5 to improve on that. We have to investigate the best option(s) for this.

[2018-11-12 17:10] appinteractive opened #10 "Internationalization - i18n"
Currently we do not use i18n, but we have to setup the user preferences and output localized strings.

Before we just start to copy paste the current language files, we should consider thinking about the correct structure of them, as the current approach for the alpha became a bit messy.

[2018-11-12 17:13] appinteractive opened #11 "[Internationalization] - integration of nuxt-i18n"
Try to use https://github.com/nuxt-community/nuxt-i18n as our i18n provider.

[2018-11-16 12:06] appinteractive commented on #8
@visualjerk would you maybe have some time to help us with a cleaner implementation of the styleguide?

[2018-11-16 12:33] appinteractive opened #14 "Installation Wizzard"
I would be good, if someone starts the application for the first time, to show some installation wizzard where you can configure the system and create an admin account.

Also for security reasons, I would go with automaticaly creating a default user which gets a random password that is show in the console maybe?

[2018-11-20 19:43] kuerzi opened #15 "ThemeLandMap"
As a user i want a zoomable overview over all Themes and Posts (without private Information of users)
kind of like
graph databank itself
or like the "Spiegel Mining" https://media.ccc.de/v/33c3-7912-spiegelmining_reverse_engineering_von_spiegel-online#t=1375

or more like the Zoomable maps in Computergames
like "For the Unity!" aka"Sins of a solar Empire" , "Planetary Annihilation" or "Ashes of th

[2018-11-20 19:47] kuerzi commented on #15
Its also good to have this for later calculations against bots and against assimilation attacks
and to support the moderators.

[2018-11-27 06:56] datenbrei opened #23 "Login"
As a maintainer I want users to sign in, in order to attribute posts and other contributions to their authors

[2018-11-27 06:56] datenbrei opened #24 "Badge administration"
As technical support I'd like to be able to administer badges of users in order to help, if badged are wrong and need to be corrected.

[2018-11-27 06:56] datenbrei opened #25 "Administative Organisations-Dashboard"
As organisation support I'd like to have an overview about the status and profile of every organisation in order to keep control of the onboarding process of organisations and unlock a specific organisation's profile.

[2018-11-27 06:57] datenbrei opened #26 "Mass locking of content"
As a moderator I'd like to lock all of a user's content in one rush in order to fight spamming bots or users abusing the network on great scale.

[2018-11-27 06:57] datenbrei opened #27 "[Moderation] Hide Posts and comments"
[code]

[2018-11-27 06:57] datenbrei opened #28 "Locking users"
As a network responsible I'd like to have a dashbord to get an overview about a user's profile and his actions in order to be able to lock a user's account and to prevent generation of abusive content, if needed.

[2018-11-27 06:57] datenbrei opened #29 "Delete own account and content"
As a user leaving the network I'd like to be able to delete my own account and content in order to enshure my data is deleted when leaving the network

[2018-11-27 06:58] datenbrei opened #30 "Delete other user accounts"
As a network privacy responsible I'd like to have an adminstrative interface to be able to delete user profiles and it's content in order to fulfill the GDPR's legal regulations

[2018-11-27 06:58] datenbrei opened #31 "Report Button"
As a user I'd like to be able to report critical content in order that it get's moderated by the moderator team

[2018-11-27 06:58] datenbrei opened #32 "User's Violation information"
As a network responsible I'd like to inform users about their breaches and violations in order to confront them with their own doings and show them

[2018-11-27 06:58] datenbrei opened #33 "Blacklist"
As a network User I'd like to filter out annoying content or users in order to better concentrate on the content I really search for.

[2018-11-27 06:58] datenbrei opened #34 "Badges System"
As a donor
I'd like show small badges on my profile
in order to show my archievements, status, experience and rewards, if I like.

[2018-11-27 06:58] datenbrei opened #35 "Bot Prevention"
As a network responsible I'd like to keep out bot's from the network in order to enshure, that just physical persons are posting content to the network

[2018-11-27 06:59] datenbrei opened #36 "Moderator-Notifications"
As a moderator I want to get notified of reported and potentially abusive content in order to intervene quickly and to avoid missing out on that kind of content.

[2018-11-27 06:59] datenbrei opened #37 "Core-Feature: Full text search in top bar"
As a user
I'd like to search for specific words
in order to find related content

[2018-11-27 06:59] datenbrei opened #38 "Filter by Origin"
As a network user I'd like to filter the content by origin in order to get just the content from a specific source

[2018-11-27 06:59] datenbrei opened #39 "Filter Emotions"
As a network user I'd like to filter the posts by mood in order to just see the content fitting to my actual mental state

[2018-11-27 07:00] datenbrei opened #40 "Filter Topics"
As a network user I'd like to filter the posts by one or more topic in order to choose the category of my interest and hide other posts

[2018-11-27 07:00] datenbrei opened #41 "Organisations"
As an volunteer of an organization I'd like to register my organization to promote it and write posts authored by the organization, to use the network as amplifier.

[2018-11-27 07:00] datenbrei opened #42 "Shout"
As a user
I'd like to „shout“ a post
To recommend it as worth reading and to increase its coverage.

[2018-11-27 07:00] datenbrei opened #43 "Chat 1:1"
As a user I'd like to chat securely and confidentially with other people to share potentially sensitive information.

[2018-11-27 07:00] datenbrei opened #44 "Profile Fields"
As a user I'd like to insert info about me and how to contact into my profile in order to enable other people to better know me and get in contact, if they like.

[2018-11-27 07:01] datenbrei opened #45 "Can do"
As a user I want to create a „Can-Do“, a special type of post which is a tutorial how to have some positive impact in order to encourage other users to make the world a better place

[2018-11-27 07:01] datenbrei opened #46 "More Info"
As a user I'd like to get info about a post's matching topics in order to get deeper information about the post's topic

[2018-11-27 07:01] datenbrei opened #47 "Comments"
As a user I want to comment posts and reply to other comments in order to create a discussion and give feedback to opinions or statements.

[2018-11-27 07:01] datenbrei opened #48 "Follow-Button"
As a user
I want to follow other interesting users
To get notified when they write new posts or take part in discussions.

[2018-11-27 09:46] appinteractive commented on #44
Here you have a starting point: #9

[2018-11-27 09:47] appinteractive commented on #48
This feature is already build into the Nitro. What needs to be done is to make the relationship unique.

[2018-11-27 09:47] appinteractive commented on #47
Display of comments is already done, what needs to be don is the whole create / update interface and permissions.

[2018-11-27 09:50] appinteractive commented on #46
Simply matching is already in place. We can add the personal user shouts, filters, etc. into the mix to get way better matching for interessting posts. Also could we relate the user to all "seen" posts to do not show the same posts over and over again.

[2018-11-27 09:51] appinteractive commented on #45
We need to decide if the special post types are really their own nodes in the db or if the get a "can-do" attached to a posts. That would give use more freedom also from the ui side and where we can mix such stuff into existing content.

[2018-11-27 09:52] appinteractive commented on #43
The questsion here is, which approach to use. We got some tests with Matrix / Riot as a service that could be used for chats. @datenbrei what were the experience with that service?

[2018-11-27 09:53] appinteractive commented on #42
Already in the Nitro, but we need to make it unique and show the personal status.

[2018-11-27 09:54] appinteractive commented on #41
Technicaly already there, but the ui is currently missing.

[2018-11-27 09:59] visualjerk commented on #8
Hey there! Have you already tried the approach outlined [here](https://github.com/visualjerk/vue-cion-design-system/wiki/Integration-with-Hot-Reloading#vue-cli)?

While the steps are not specifically written for Nuxt, it shouldn't be too complicated to adapt them to be used there.

[2018-11-27 19:20] #23 closed

[2018-11-27 19:21] appinteractive commented on #26
I think you want to block the user and not it’s contents in that case.

[2018-11-30 11:26] appinteractive opened #63 "Find best way to filter and personalize results"
We need to get an efficient way to alter the results by filters etc.

[2018-11-30 11:29] visualjerk commented on #8
Closed by #55

[2018-11-30 11:29] #8 closed

[2018-11-30 16:32] roschaefer commented on #7
@appinteractive I don't get it

[2018-11-30 17:21] roschaefer commented on #10
Translation files in a .json are inherently messy. Can we please add them immediately?

[2018-11-30 17:37] appinteractive commented on #10
Don’t get what you mean. And yes I will be on it at Monday

[2018-11-30 17:50] roschaefer commented on #10
I was just saying that, regardless how hard we try, they will geht messy in the end. Maybe there is some best practice on the web but I can't remember any project where people did not complain about the structure of the translations at least once.

[2018-11-30 17:56] appinteractive commented on #10
It’s not so Problem of json, it’s a problem of translations in general. You rip apart a layer of the application and start wondering after a while what belongs where. But for that we have tools like lokalize to manage that.

[2018-11-30 17:56] appinteractive commented on #10
Will Setup the pipeline next week

[2018-11-30 19:18] appinteractive commented on #7
@roschaefer did you try it with the pr mentioned in the description?

[2018-12-01 21:03] oliverzet opened #65 "Display image dimensions (width and height) on profile page image place holder on mouse over"
At the moment it is unclear which dimensions the large image to be uploaded may have on the profile page.

The dimensions (width and height) of the image to be uploaded should be displayed in the placeholder on mouse over.

Alternatively it might be preferable for the user to chose the image segment, to be displayed, himself after the upload.
![hc feature request profile image](https://user-images

[2018-12-03 10:59] oliverzet opened #67 "Scheduled Posts"
Please implement the ability to publish postings at a specific time and date

This would, for example, be very helpful for people who are on holiday or have unfavourable working hours. But still need to reach out to their followers at a specific time or date.

[2018-12-03 12:12] roschaefer commented on #65
@oliverzet this is an amazing feature and you even added a screenshot with a mocked UI. Adding screenshots with a mock UI increases the attractiveness for someone in the open source community to take a stab on it.

After you added this feature request, you continued to add #67. See? It's good to sign up at Github and become an active part in the development even as a non-technical user. :+1: [Free

[2018-12-03 12:13] roschaefer commented on #65
@oliverzet regarding this feature request: The problem is that you want to know in advance what is the ratio of the target image? To avoid a random cropping done by the system? You can now go ahead and improve your feature request by clicking on the "Edit" icon in the top right corner.

[2018-12-03 12:16] roschaefer commented on #67
@oliverzet see my suggestions in #65. This feature request could be improved with a mock UI. Is this feature only relevant for organisations who want to reach their followers on a regular basis? If yes, please add it to the description of the issue! Thanks :+1:

[2018-12-05 14:46] oliverzet commented on #65
Thanks for rephrasing. Yes that is exactly what I want. I've edited the issue and I hope it's a bit more fitting now.

[2018-12-05 15:52] oliverzet commented on #67
I think this feature could be relevant to every user, not only organisations. I've edited the issue and attached a mockup

[2018-12-06 10:31] appinteractive opened #70 "[Moderation] - Report Button"
As a User
I want to see a button on every user content
in order to report the specific content

[2018-12-06 10:46] appinteractive opened #71 "[Moderation] - Block Reported Content Action"
As a Moderator
I would like to block recently reported content found in the overview
in order to confirm that the content violates our community guidelines.

[2018-12-07 08:32] appinteractive commented on #65
To be honest, I don't think that showing dimensions will help many people. Even more as the image is responsive and do not have static dimensions like on the big blue network.

A way better possibility would be to have the option to crop the image before upload (in an overlay). No one wants to crop its images manually in some random tool.
There are even posibilities to set the point of interesst s

[2018-12-07 08:56] appinteractive opened #72 "[Internationalization] - Integrate Lokalise.co pipeline"
We need to integrate and setup [lokalise.co](http://lokalise.co) for a better translation workflow and management.

Als do we have to add some mention of lokalise.co on our readme.

[2018-12-07 09:03] appinteractive commented on #11
At the moment I have issues with nuxt-i18n as they force you to have a language prefix or a dedicated (sub)domain for each languge but no option wo only switch without changing the url.

[2018-12-07 11:13] oliverzet commented on #65
Yes, that's what I suggested as an alternative:

[2018-12-07 11:18] roschaefer commented on #65
However a hint with the ratio would be good enough as a start. The dialog with an editor to crop the image is much more development work!

[2018-12-07 11:39] oliverzet commented on #65
Well, I put the issue here, because I was told to do so. If this issue is better suited for "Human-Connection" or "WebApp", please move it to one of these destinations (if possible)

[2018-12-07 11:41] roschaefer commented on #65
Yes, we're not talking about prioritization. But writing amazing user-stories is hard work, as you know :wink: so I'm quite happy to have this user-story in the queue and thankful for @oliverzet to document it. :+1:

[2018-12-07 12:48] oliverzet opened #73 "make profile streams a single column layout"
Currently the profile page streams are divided into two columns. This causes some problems in desktop as well as in mobile view. Additionally the two column layout doesn't seem to provide any benefits to the user experience.

**Mobile view**:

- The two-column view of posts on mobile devices makes the presentation too small and cluttered.

- Labels like "Post" or "Can Do" hide parts of the user na

[2018-12-07 13:07] appinteractive commented on #65
Yeah I'm also thankfull for the input! 🤟 Just trying to discuss the best possible way 😃

[2018-12-10 00:04] roschaefer commented on #72
I think this is the perfect issue for @mattwr18, what do you think?

[2018-12-10 11:49] appinteractive commented on #72
You Need github Admin rights and the same for lokalise.

[2018-12-10 15:16] appinteractive commented on #73
In Nitro its already fixed

<img width="1208" alt="bildschirmfoto 2018-12-10 um 16 15 19" src="https://user-images.githubusercontent.com/432828/49741513-e14cc980-fc96-11e8-9fb0-6e2d1c5e9180.png">
<img width="766" alt="bildschirmfoto 2018-12-10 um 16 15 33" src="https://user-images.githubusercontent.com/432828/49741514-e14cc980-fc96-11e8-9820-e9f3a8cdb473.png">

[2018-12-10 17:30] roschaefer commented on #72
@mattwr18 we can give you admin powers for lokalise, interested?

[2018-12-11 15:01] oliverzet commented on #73
It probably is @appinteractive
There don't seem to be any labels marking the postings as "Post" or "Can Do". Is this because it's a very early version of Nitro or aren't labels coming back?

[2018-12-11 17:04] appinteractive commented on #73
@oliverzet yeah it’s because we only have posts at the moment. So the Ticket can be closed?

[2018-12-11 17:31] sushidave opened #87 "Sort contributions by most commented"
**Is your feature request related to a problem? Please describe.**
Contributions can't be sorted chronologically or by recommendations but not by the number of comments.

**Describe the solution you'd like**
Add a sort option: "most commented"

**Additional context**
Idea by user MarkusUnikum in this post, see comment in this post:
https://alpha.human-connection.org/contributions/die-beliebtesten-

[2018-12-12 19:01] appinteractive commented on #73
Sure it can be reopened when needed. A staging of the new system will be deployed the next days.

[2018-12-12 19:01] #73 closed

[2018-12-15 12:22] appinteractive opened #93 "Reduce docker image size with multistage builds"
Currently the image of `Nitro-Web` way too large (314MB). Many build dependencies are included which are irrelevant for production.

![download 6](https://user-images.githubusercontent.com/2110676/50055001-24041b00-0149-11e9-87ea-710c73c5fc4c.png)

We would like to slim down the image size with multistage builds. We did that for the backend recenlty and the image size was reduced from >200MB to 11

[2018-12-15 14:03] roschaefer commented on #93
I don't think multi stages will speed up the build, it rather slows it down.

A duration of 4:20 minutes is spent on building the image. I think the styleguide is a great pick for optimization.

[2018-12-15 16:11] appinteractive commented on #93
That’s why I mentioned caching. It seams that  currently no caching is in place at all. We need to wire docker, npm and yarn caching to speed things up.

[2018-12-16 14:38] roschaefer commented on #93
Can we distinguish between image size and build server speed?

I will rephrase this issue to match the image size for now. We can open another one to try out caching on the build server and see if that speeds up the build.

[2018-12-17 17:08] roschaefer opened #95 "Invalid signature error"
**Describe the bug**
When I previously logged in to our `nitro-staging` environment at https://nitro-staging.human-connection.org/ and re-visit the site, I see a "Invalid Signature" error.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to https://nitro-staging.human-connection.org/
2. Wait for a day or so
3. Go to https://nitro-staging.human-connection.org/ again
4. See error
![downl

[2018-12-17 19:02] sushidave opened #97 "Filter contributions by location"
**Is your feature request related to a problem? Please describe.**
Some contributions are about continental, national, regional or local things only. Currently, there is no efficient way to search/filter for contributions by location. The only way is to use the search function. The more users and contributions on the network the greater the need for such a feature.

**Describe the solution you'd l

[2018-12-17 22:05] appinteractive commented on #97
Related to #9

[2018-12-19 10:31] appinteractive commented on #95
@roschaefer do you need help with that?

[2018-12-19 14:24] roschaefer commented on #95
Potentially yes, but I would like to reproduce the errors with tests! See #98

[2018-12-20 15:47] mattwr18 commented on #72
hey sorry, I saw this, but didn't respond and forgot about the comments...
I would be interested in working on this when I can be given access

[2018-12-20 18:20] appinteractive commented on #72
It’s basically done already.

[2018-12-20 18:21] appinteractive commented on #72
Close #99

[2018-12-24 15:46] #95 closed

[2019-01-04 08:37] appinteractive commented on #93
902MB Whaaaaaaaa? I guess thast mostly dev dependencies as we did not add any big stuff on the frontend since. The Fight against the Bytes shell begin... :)

[2019-01-04 08:38] #72 closed

[2019-01-04 08:40] appinteractive commented on #31
dublicates #70

[2019-01-04 08:40] #31 closed

[2019-01-04 08:42] appinteractive commented on #11
we now use #99

[2019-01-04 08:42] #11 closed

[2019-01-04 08:42] appinteractive opened #116 "i18n"

[2019-01-05 11:07] sushidave commented on #97
This feature is vital for users to connect and act locally. Please compare with https://www.communecter.org/, section "Are you ready for geo-communication?", how they did it.

[2019-01-05 14:36] appinteractive commented on #7
This issue is solved in https://github.com/Human-Connection/Nitro-Web/pull/9

[2019-01-05 15:45] appinteractive commented on #97
I don’t get „how they did it“ can you explain or summarize here what the did in a good way and why?

[2019-01-05 18:59] sushidave commented on #97
Of course...sorry for my brevity.

Communecter states that it "invites users to geo-locate your data as much as possible to give local visibility to your actions.".

Currently on Communecter, you can filter contributions by location by category ("theme") and by these types:
- People
- NGOs
- Local Businesses
- Groups
- Government Organisations
- Projects
- Events
- Points of Interest
- Classifieds

[2019-01-05 22:33] sushidave opened #117 "Language menus: Replace national flags by language codes"
**Is your feature request related to a problem? Please describe.**
Language flags in the current language menus don't accurately represent the languages.
Examples:
- German speakers in Austria, Switzerland, Liechtensein need to chose the flag of Germany
- Belgians chose the flag of France (French) or the Netherlands (Dutch/Flemish)
- Canadians chose the flag of the U.K (English) or France (French)

[2019-01-07 15:59] roschaefer commented on #7
But this issue is not tested in #9

[2019-01-07 16:01] appinteractive commented on #7
Tests are written right now @roschaefer , still a WIP, thats why this one is still open.

[2019-01-07 16:05] appinteractive opened #119 "[Editor] Create posts"
[code]

Hints: Consider to use [tiptap](https://github.com/scrumpy/tiptap) (vuejs wrapper for [prosemirror](https://prosemirror.net/)). Prosemirror is highly customizable and tiptap provides convenient features on top.

[2019-01-07 16:08] appinteractive opened #120 "[Editor] Embeds"

[2019-01-07 16:08] appinteractive opened #121 "Editor - TipTap Editor"
We want to add the TipTap instead of the Quill editor as it is easier to write vue components with it and its easier to extend.

https://github.com/scrumpy/tiptap

[2019-01-07 16:45] roschaefer commented on #117
@sushidave what a coincidence, I talked to @appinteractive about it.

Here are some best practices:
* http://www.flagsarenotlanguages.com/blog/best-practice-for-presenting-languages/
* https://usersnap.com/blog/design-language-switch/

Seems a neutral icon is the way to go. Although I like language flags just for the eye-catchiness.

We can also provide language translation links in the footer. [P

[2019-01-07 17:25] appinteractive opened #122 "Mobile friendlyness"
As a user
I would like to see posts in full with on my mobile
In order to be able to read comfortably on the go

A first step could be to wrap the navigation to the top of the post when on mobile (see styleguide)
The best option would be a floating menu which expands on press while on mobile.
Do you have an even better idea to solving that?

Current State:
![Bildschirmfoto 2019-01-07 um 18.21.33.p

[2019-01-07 17:57] appinteractive commented on #117
I’m fine with that. Also just done it for eyecandy. Even a globe is not neutral as you have to decide which continent to show. Feel free to change it to the Lang codes

[2019-01-07 19:59] appinteractive commented on #117
The name will be to long I think. At least in the topbar. You could just display the code in uppercase.

[2019-01-07 23:18] sushidave commented on #117
So, only the code is displayed if the menu is collapsed while it's e.g. "DE - Deutsch" on the opened selection list?

[2019-01-07 23:48] roschaefer commented on #119
@appinteractive I updated your user story.

The edit shows the full power of user-stories and reflecting your requirements: The user does not want to use tiptap just because. She wants *to create posts*, she does not care what underlying JS library she's using. The JS library is a mere implementation detail. :wink:

The user-stories save us from interesting libraries which provide no further value

[2019-01-07 23:51] roschaefer commented on #121
duplicate #119

[2019-01-07 23:51] #121 closed

[2019-01-08 08:31] appinteractive opened #124 "Emotion Reactions"
As a User
I`d like posts to be tagged with emotions
in order to be able to filter them by such

[2019-01-08 08:32] appinteractive opened #125 "List Social Media Accounts"
As a User
i`d like to enter my social media accounts
in order to show them to other users to get in contact

[2019-01-08 08:42] appinteractive opened #126 "Fix Follow and Shout mutations"
Currently Follows and Shouts are created using `CREATE` instead of `MERGE`. Therefore we need to ether overwrite the resolvers or add a new mutation for that action.

[2019-01-08 08:46] appinteractive commented on #117
@sushidave I would only write the language without the prefix while opened. The code is only useful in the menu I think. The Code is not usefull in any way in the list to my perspective.

[2019-01-08 08:53] appinteractive commented on #34
Already done

[2019-01-08 08:53] #34 closed

[2019-01-08 08:57] appinteractive commented on #121
Why are you closing this @roschaefer ? It’s an epic not an issue so it’s not duplicated. I think we need to discuss the use of epics. 🤨

[2019-01-08 13:20] sushidave commented on #117
Like this?:
![language-menu](https://user-images.githubusercontent.com/17728384/50833097-7dc6c200-1350-11e9-8633-b0c4f20b884e.png)

[2019-01-08 18:53] appinteractive commented on #117
Looks good to me. But as I see the screenshot, is there a reason you choose to illustrate that based on the legacy version of the Frontend?

[2019-01-08 19:51] sushidave commented on #117
Oh well, the force of habit ;-)

Here is the nitro styled one:
![language-menu-nitro](https://user-images.githubusercontent.com/17728384/50855086-2bed5e80-1387-11e9-88b5-0458ba9ff761.png)

[2019-01-09 11:38] roschaefer opened #128 "Travis CI: Fix checked out branch of backend"
**Describe the bug**
For fullstack testing we're currently trying to check out `TRAVIS_BRANCH` in the backend. If no such branch exists, we fall back to `master`. According to Travis CI specs the variable is the **target** branch for pull requests, which would be `master` in most cases. That's not what we want.

See here: https://docs.travis-ci.com/user/environment-variables/#default-environment-v

[2019-01-11 11:31] #93 closed

[2019-01-12 12:01] #10 closed

[2019-01-12 16:48] appinteractive commented on #117
@sushidave could you have a look at the pullrequest for that issue? #130

[2019-01-14 11:36] sushidave commented on #117
@appinteractive Thanks a lot! The description and screenshots look perfect to me. I didn't review the code though because I don't know the programming language.

We might need a scrollable selection list once more languages are added.

[2019-01-14 11:48] sushidave opened #133 "Add a language version for British English"
**Is your feature request related to a problem? Please describe.**
The current English version of the UI covers American English only. There is no version for British English.

**Describe the solution you'd like**
- Add a version for British English on Lokalise
- Rename current English version for the UI to -> English (US)
- Add a language version for the UI for British English -> English (UK)

Th

[2019-01-14 13:36] appinteractive commented on #117
When we get more we will need a modal :)

[2019-01-14 15:11] appinteractive commented on #128
@roschaefer it was fixed correct?

[2019-01-15 12:16] #128 closed

[2019-01-18 09:44] appinteractive commented on #7
Is (integration)tested and fixed

[2019-01-18 09:44] #7 closed

[2019-01-18 14:57] appinteractive opened #142 "Use yarn cache kn build"
Currently yarn always downloads all dependencies. Let’s find a way to use Travis yarn Sache inside docker. Maybe it’s possible to mount the cache in the build dockerfile?

[2019-01-21 11:54] appinteractive commented on #122
To fix the issue, set the `:with` proprty on both `flex-item` elements, see the `profile/_slug.vue` for reference.

[2019-01-21 22:57] Kachulio1 commented on #122
@appinteractive should I put the menu nav above or it's ok like that.
<img width="543" alt="screen shot 2019-01-22 at 01 52 23" src="https://user-images.githubusercontent.com/22243090/51502828-eef28480-1de8-11e9-8801-7eb214e3b30a.png">

[2019-01-22 09:05] appinteractive commented on #48
closed in favor of #126

[2019-01-22 09:05] #48 closed

[2019-01-22 12:36] roschaefer commented on #122
@Kachulio1 for me it's also OK to type the URL by hand for now. We can decided on the Navigation later. :slightly_smiling_face:

[2019-01-22 13:52] #70 closed

[2019-01-22 19:40] sushidave opened #147 "Transfer and sort out issues of the WebApp repo"
**Describe the current situation**
Although the Alpha version is a dead development branch there are still many issues in its WebApp repo that apply to the Nitro version as well. It's also confusing to manage two repos.

**Expected situation**
Transfer all issues applying to Nitro to the Nitro-Web repo and close the rest.

[2019-01-22 21:11] Kachulio1 commented on #122
LOL

[2019-01-22 23:56] appinteractive commented on #122
Below should be fine for now. Later we will add a better solution that’s more mobile friendly.

[2019-01-23 00:45] Kachulio1 commented on #122
ok 👍

On Wed, Jan 23, 2019 at 2:56 AM Grzegorz Leoniec <notifications@github.com>
wrote:

[2019-01-29 03:58] #122 closed

[2019-01-30 20:24] faithngetich commented on #37
@datenbrei specific words in the post or what words are you interested in searching?

[2019-01-30 20:54] roschaefer commented on #37
If possible: Author, Post content, Post title, Tags, Categories

[2019-02-01 11:33] Tirokk commented on #37
Should the search go like this @roschaefer @datenbrei :
(A bit similar to Google-Search.)

- If the search field contains one word (no space) then search this as part of the posts fields you mentioned. ("Part of" means as an example: Search of „world“ also finds „worlds“ etc. in the post.)
- If there are more than one words in the search field (separated by space(s)) then search all these words as

[2019-02-04 20:38] sushidave commented on #43
Does this Chat 1:1 feature include the Private Message feature?

[2019-02-04 21:11] appinteractive commented on #43
That’s what I understand under 1:1 yes.

[2019-02-04 22:03] sushidave commented on #43
Oh, thanks @appinteractive. I was confused because on the illustration at https://human-connection.org/wp-content/uploads/2018/05/hc_baumload_A4_ENG_PRINT_160518.pdf the feature is called "Private Messaging".

[2019-02-04 22:13] appinteractive commented on #43
Yeah, I really don’t know who still calls that “chat rooms” 😬 and yeah private messaging is way better then 1:1 😁

[2019-02-05 08:53] roschaefer opened #163 "Refactoring: Prefix all image tag src attributes with `/api/`"
**Describe the bug**
The server side rendered frontend serves our images at `/api/uploads`. All requests to `/api` are proxied to the backend, which serves images at `/uploads/`. Right now, the backend mutates all URLs in the response to be prefixed with `/api`. This is a design flaw as the backend *knows* how the frontend proxies requests.

**Expected behavior**
We should prefix all `<img src="UR

[2019-02-07 09:18] datenbrei opened #168 "Badge Selection"
As a user
I'd like to choose from a list of available badges which badges to show or not to show
in order to control, which of my private information (like badges for specific donations) is shown to the public. The default should be not to show a badge, as long not explicitly enabled.

[2019-02-07 12:37] Nick-HC opened #169 "Privacy: stop users from interaction with my data"
**Is your feature request related to a problem? Please describe.**
Aus Erfahrung kommentieren Menschen in meinen Beiträgen, die die Aufmerksamkeit vom Thema auf sich selbst lenken. Dadurch ist mein Anliegen in den Hintergrund getreten.

**Describe the solution you'd like**
Eine persönliche Liste, im Profil, die es mir ermöglicht, zu bestimmen wer meine Beiträge interagieren darf.

**Describe alter

[2019-02-07 12:41] roschaefer commented on #169
@Nick-HC I updated your issue to be in English (we have many volunteers and contributors who don't speak German)

[2019-02-07 12:44] appinteractive commented on #169
That will not work as everyone can see your public posts, even when not logged in.

[2019-02-07 12:45] appinteractive commented on #169
Relates to #12 #33

[2019-02-07 12:57] roschaefer commented on #169
@appinteractive that's the alternative, therefore we want to exclude users from commenting a post.

[2019-02-07 17:15] Kachulio1 opened #171 "Running the test with --watch flag does not work"
**Describe the bug**
When you run `yarn test --watch` you get an error

**Screenshots**
<img width="548" alt="screen shot 2019-02-07 at 20 03 55" src="https://user-images.githubusercontent.com/22243090/52429034-55c7ab80-2b14-11e9-8d7f-7b9669b38ed3.png">

**Suggested Solution**
if you remove the tilde in `moduleNameMapper` it works.
<img width="508" alt="screen shot 2019-02-07 at 20 12 46" src="htt

[2019-02-07 17:58] roschaefer commented on #171
PR please! :+1:

[2019-02-07 20:10] appinteractive commented on #171
Is it then still working for the rest of the application? I’m afraid of side effects with that.

[2019-02-07 22:30] Kachulio1 commented on #171
This is weird, after removing that tilde and run the test with watch and then put it back, there is no error.

[2019-02-07 22:31] Kachulio1 commented on #171
@appinteractive @roschaefer if you run test with --watch are you getting that error

[2019-02-07 22:33] Kachulio1 commented on #171
@mattwr18 has the same
 error.

[2019-02-08 13:44] appinteractive opened #174 "[Internationalization] i18next"
**Is your feature request related to a problem? Please describe.**
Currently the package `vuex-i18n` which we are using for internationalization is not capable of using the ICU format for pluralization for example and is not very flexible.

**Describe the solution you'd like**
After some research [i18next](https://www.i18next.com) seems to be quite a good fit as we could use it also on the backend

[2019-02-13 11:30] roschaefer commented on #37
@Tirokk I would say: Let's [KISS](https://en.wikipedia.org/wiki/KISS_principle) :kissing_heart: Keep It Simple Stupid. If we can send a word to the backend and get all posts containing this word in the content or title field, this is step 1. We can iterate from there and make the search more complex.

[2019-02-13 15:24] Tirokk commented on #37
😘 It’s future thinking. At first we [KISS](https://en.wikipedia.org/wiki/KISS_principle) and than it can get more complicated. 🤗 ^^

[2019-02-14 16:21] Nick-HC commented on #169
Another alternative would be to be able to set whether no one is allowed to comment when the article is written. Practically a new category called "Poster" or "Placard", which is only for viewing.

![screenshot](https://user-images.githubusercontent.com/47418179/52800856-ef470e00-307c-11e9-9415-5791ddf72066.png)

[2019-02-15 02:01] Lulalaby commented on #169
@Nick-HC this idea is great.
What  you think @roschaefer.
This should be possible :)

[2019-02-15 18:36] appinteractive commented on #169
No other type, just set it to private. I have an issue with users not being able to comment on posts before we have the versus feature.

[2019-02-25 17:13] Tirokk opened #193 "Show user ID in the profile, small and grey somewhere underneath"
**Is your feature request related to a problem? Please describe.**
At the moment one has problems to identify a user safely.
If you have fake users or trouble with one, it is difficult to see if this is still the same profile.

**Describe the solution you'd like**
Show user ID in the profile somewhere underneath, small and grey. Will say not really prominent. If you get trouble you can make a scre

[2019-02-25 21:32] appinteractive commented on #193
Would the slug not be enough?

[2019-02-25 23:01] roschaefer commented on #193
@appinteractive I talked to @Tirokk on our regional user meetup in Berlin on Saturday. The user ID, slug and name have the following purposes and properties:

| | Modifiable | Referenceable | Unique | Purpose |
| -- | -- | -- | --| -- |
| ID | no | yes | yes | Identity, Traceability, Links |
| Slug | yes | yes | yes | @ - Mentions, SEO-friendly URL |
| Name | yes | no | no | Search, self-descripti

[2019-02-26 00:39] roschaefer opened #194 "Frontend decodes JWT token"
**Describe the bug**
Every now and then I see an annoying bug `Cannot read property 'id' of undefined`. It's because the frontend decodes the [JWT here](https://github.com/Human-Connection/Nitro-Web/blob/master/store/auth.js#L61).  I have to manually clear the application storage in my browser to make the error go away.
The frontend does not need to decode the JWT Bearer token at all. It does not

[2019-02-26 08:27] Tirokk commented on #193
… or you get a list of all users with the name roschaefer, if there are more than one @roschaefer @appinteractive .

[2019-02-26 10:15] roschaefer commented on #193
@tirokk no, @roschaefer is my slug, not my name. So there must be only one user account with that slug at a given time.

@tirokk could you research what happens to the old links if I would change my slug on Github?

[2019-02-26 14:56] appinteractive opened #198 "Editor Improvements"
Improve the Editor usage:

**Todo`s:**
- [x] edit posts
- [ ] create posts
  - [x] title
  - [x] content
  - [ ] tags
  - [ ] categories
- [ ] fix broken integration test as now you cant report your own contributions or your self as a user
- [x] always add `target="_blank"` to the rendered links
- [ ] render all content with the editor-content component
- [ ] **Stylings**
  - [x] bold
  - [x] ital

[2019-02-26 15:16] Tirokk commented on #193
Than you have to make the readable part in the slug sole too, by adding a number to it @roschaefer ?
Why, if there is an ID behind it?
To distinguish between people and for readable clarification?

So if I would like the name **roschaefer** as well, it would become **roschaefer1** automatically?
Or I get a message that **roschaefer** already exists and have to choose an other one?

I research …

[2019-02-26 15:30] Tirokk commented on #193
Because GitHub don’t use IDs in the Slug …

The impact if one changes the username is diverse on GitHub:
From redirection of repository links as long as no one else uses your old usernames to commit references and **@mentions** to your user profile breaking … etc.

More details see here [What happens when I change my username?](https://help.github.com/en/articles/what-happens-when-i-change-my-user

[2019-02-26 16:03] Tirokk opened #200 "[Main Page] `↓ load more` button should disappear if there are no more posts to load"
**Describe the bug**
All posts are loaded. The `↓ load more` button underneath is still visible and active.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the `master` branch. Go to 'http://127.0.0.1:3000/'
2. Scroll down to the last post
3. Click on `↓ load more` button
4. Do this 'til no more posts appear
5. `↓ load more` button is still visible and active

**Expected behavior**
`↓ lo

[2019-02-26 16:33] Tirokk opened #201 "[Post] Shout button does not function correct"
**Describe the bug**
Shout button on the post page does not function correctly.
Wrongly named in German `Empfohlen`. Add localisation.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the `master` branch. Go to 'http://127.0.0.1:3000/'
2. Go on a post
3. Click on `Shout` button, wrongly named in German `Empfohlen`
4. It increases one and `Shout` button gets inactive
5. Click on the right

[2019-02-26 17:06] Tirokk opened #202 "[Internationalization] Put all not translated texts here or wrong translations as well"
**Post Page**
Shout button: In Language EN still has text in German `Empfohlen`

**Screenshot**
![53431592-1d1f4180-39f1-11e9-845a-84fa1225b36c](https://user-images.githubusercontent.com/432828/53696430-38aa9380-3dc7-11e9-8990-8d41f63563bd.png)

[2019-02-26 17:29] appinteractive commented on #200
Currently we do not have any pagination information about the total count or similar. That’s why it was not possible to determine if we need to show the button or not.

[2019-02-26 18:17] appinteractive commented on #193
That would also be my suggestion. Also could we limit the the amount of possible changes in a given timeframe (once a week/month or so) to reduce abuse.

[2019-02-26 18:38] Tirokk commented on #200
Than it’s for memory. Okay @appinteractive ?

[2019-02-26 18:39] appinteractive commented on #200
For memory?

[2019-02-26 18:44] Tirokk commented on #193
That’s not me. @appinteractive
Computer are made to help humans and therefore made to working correctly.
It’s not only about abuse. It’s about good functionality.

Hope I got you right … 😉

Broken links are not acceptable for me. (I can accept, if you vote me out, but would not be my style 😂)

[2019-02-27 08:11] Tirokk commented on #193
To limit the amount of changes for a username is something to think about. @appinteractive

To limit the the change amounts of a post header seems not to be possible. It can violate rules and has to be changed immediately. Maybe more then once a week or so.

[2019-03-02 21:29] roschaefer commented on #194
closed by #199

[2019-03-02 21:29] #194 closed

[2019-03-02 21:43] bad-gateway opened #211 "User description: no line/word wrapping"
**Describe the bug**
css issues, word wrapping, line wrapping in user description

**To Reproduce**
1. https://nitro-master.human-connection.org/profile/sepp
2. when you see it, you'll shit bricks

**Expected behavior**
line wrapping or useful limitations (120-400 characters)

**Screenshots**
![image](https://user-images.githubusercontent.com/48162069/53687882-d3a95c00-3d3a-11e9-8dd3-0b975c10db4e.

[2019-03-03 12:30] roschaefer opened #212 "Change password"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
This settings page on `/settings/security` should have a three fields `old password`, `new password` and `passwordConfirmation`, if they both match I should be able to change my password:

https://nitro-master.human-connection.org/settings/security

![screenshot 34](https://user-images.g

[2019-03-03 14:12] appinteractive commented on #212
Here is a screenshot from the current alpha version:

<img width="636" alt="bildschirmfoto 2019-03-03 um 15 10 53" src="https://user-images.githubusercontent.com/432828/53696381-b3bf7a00-3dc6-11e9-9ae9-2bc981779e01.png">

[2019-03-03 18:34] appinteractive commented on #201
Seed https://github.com/Human-Connection/Nitro-Web/issues/201

[2019-03-04 09:10] Tirokk commented on #201
Hey, super! I will have a look later!

[2019-03-04 15:13] appinteractive opened #217 "Optimize and unify mobile navigation"
**Is your feature request related to a problem? Please describe.**
Currently the navigation (main and sub) are a bit broken on mobile.
<img width="426" alt="grafik" src="https://user-images.githubusercontent.com/432828/53742065-12a0f400-3e98-11e9-8b73-9b0180b8b812.png">

**Describe the solution you'd like**
Optimize our current Navigation for Mobile use and find a way to display sub navigation in

[2019-03-04 15:26] appinteractive opened #218 "Replace backend badges with Frontend ones."
Currently some badges are broken as they where copied from the old repo rather then the current Frontend.

[2019-03-04 16:14] appinteractive opened #219 "Fix editor tool bubble on mobile"
**Describe the bug**
Currently the editor is not usable on mobile as the tool bubble is displayed above the cursor, where the mobile os commands are shown (copy, cut, etc.).

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create a new post on mobile by pressing the plus button on the right bottom corner.
2. Add a title
3. Add some text
4. Select a part of the text
5. See that the tool

[2019-03-05 08:36] #119 closed

[2019-03-05 10:14] roschaefer opened #222 "URL with unmodifiable ID"
[code]

[2019-03-05 20:38] mirella-fortunato opened #223 "Replace the Nitro-green into an Alpha-green"
The green color used in the Nitro is not the same as in the the Alpha version.

[2019-03-05 20:58] mirella-fortunato opened #224 "Translate all terms in the different languages"
Not all terms are translated and emplemented in the different languages on the users side.

In the network frame:
-title (Netzwerk)
-whom follows the user
-who follows the user

Settings:
-Your Name
-Your City or Region
-About You

[2019-03-05 21:53] appinteractive commented on #223
Yeah for good reason, at first there is no one green but many as the logo suggest.
Second, the alpha green tends to be very aggressive on some displays and nearly  non existent on projectors. Also is the Accessibility for visually impaired persons not the best as the contrast on white is not that good. Therefore we use a darker shade for the nitro to enhance the previous points.

[2019-03-05 21:56] appinteractive commented on #224
Please take a look here: https://lokalise.co/public/556252725c18dd752dd546.13222042/

[2019-03-05 22:07] roschaefer commented on #223
@mirella-fortunato thank you so much for your feature request! It is so great that you found your way on Github. :tada:  We enjoy if our users pro-actively request features or report bugs here.

In this very case I cannot say much about the accessibility of colours, so I simply trust @appinteractive who has better sensitivity here.

However, you can request more features on Github. By telling what

[2019-03-05 22:23] appinteractive commented on #223
Thanks @mirella-fortunato also from me, hope that you did not misunderstood my comment, I was writing ✍️ it on the run 🏃

If you have more arguments, feel free to share it here!

[2019-03-06 07:16] mirella-fortunato commented on #223
@appinteractive @roschaefer

Hey!
thank you for your feedback.
I try to be clear and simple in what i recognize as a bug or mistake,
but i'm a bit insecure about the explanations i can give and don't know much about the work you are doing.
So, please aske me, if you don't know what i exactly try to say.
I'll try my best.

[2019-03-06 07:24] mirella-fortunato commented on #224
@appinteractive
Thank you for the link.
I quess it means that you are working on the translations.
If you need people for the translation process, than let me know.
I can try to find some user of HC that are nativ speakers of the different languages.

[2019-03-06 08:15] appinteractive commented on #224
You can actually participate under that link! And yeah just let them come 😊👍

[2019-03-06 09:45] appinteractive opened #226 "Add error tracking"
Add error tracking like sentry to know if there are errors that we need to tackle.

[2019-03-06 15:07] Tirokk opened #227 "Follower count in floating window above user links does not increase"
**Describe the bug**
The followers count does not increase. See screenshots …

**To Reproduce**
- If you are in a post of somebody else …
- You hover over the link of the author …
- A floating window appears with the counts of the followers and the counts of his or her posts etc. …
- You are a non follower and click on *following* …

**Expected behavior**
- The followers count does increase.

**Sc

[2019-03-06 17:29] appinteractive opened #228 "Setup Test Coverage monitoring"

[2019-03-06 18:08] appinteractive opened #229 "Re-Deploy Nitro Staging"

[2019-03-06 18:09] appinteractive commented on #229
https://nitro-staging.human-connection.org

[2019-03-06 18:14] appinteractive opened #230 "Increase memory for Alpha Rancher"
Currenty we are hitting a memory limit and need to resize the Rancher Droplet.

@datenbrei @roschaefer

[2019-03-07 10:34] roschaefer commented on #230
Why do we have a rancher droplet? Is it the wrong repository?

[2019-03-07 20:12] appinteractive commented on #230
Jep it is 😬

[2019-03-08 14:33] #42 closed

[2019-03-08 14:33] #126 closed

[2019-03-08 14:33] #201 closed

[2019-03-10 14:46] sushidave opened #241 "Feed: Show number of hits"
**Is your feature request related to a problem? Please describe.**
When contibutions are filtered or searched there is no indication of the number of hits (= of contributions found)

**Describe the solution you'd like**
Show the number of hits on the feed page.

[2019-03-12 08:07] datenbrei opened #247 "[Profile] GDPR Privacy by default"
As a user of the network
I want to decide which information, like my recommendations or my solved CanDos or my badges or other information, is shown to the public or to my friends or just to me
in order to keep my privacy and also to follow the privacy by design demand of the European Unions GDPR article 25: https://gdpr-info.eu/art-25-gdpr/

[2019-03-12 10:50] Lulalaby commented on #247
Good one, thanks @datenbrei

[2019-03-15 10:31] datenbrei opened #260 "[Moderation] Disable Comments and show them as "deleted""
As a moderator
I'd like to disable comments which violate the terms of service in a way that they appear as "deleted comment"
so that people can see, that once a comment existed, but now is not available to the public anymore. This way people still understand the flow of discussion but also know, that some comments had been deleted.

[2019-03-15 10:36] datenbrei opened #261 "[Moderation] Disable violating Posts and hide them"
As a moderator
I'd like to be able to disable posts which violate the terms of service in a way that they do not appear any longer, whether to the public nor to the author
so that other users are protected against offensive, illegal and other bad content.

[2019-03-15 14:40] roschaefer commented on #260
@datenbrei I thought they should show up as "... this comment is not available anymore"? It would be a more generic but also more honest statement.

[2019-03-15 14:42] tansaku commented on #163
@roschaefer having a look at this issue - in the seeded data all the images associated with posts are from the https://lorempixel.com site (presumably from the faker module) - we couldn't find any in the seeded data that have urls like /api/uploads, or /uploads or anything.

Looking at the alpha system we did see URLs like this:

https://img-alpha.human-connection.org/3wFqNObuo-R9WQINClzV-8Cw17g=/

[2019-03-15 16:13] appinteractive commented on #163
@tansaku did you take a look 👀 on the badges? They are coming from the api.

[2019-03-15 18:12] tansaku commented on #163
@appinteractive we did not - the example shows image posts so that's where we focused our attention, but that's a good tip - thanks :-)

[2019-03-16 19:38] roschaefer commented on #260
@datenbrei updated

[2019-03-16 19:43] roschaefer commented on #261
@datenbrei updated

[2019-03-18 16:32] roschaefer commented on #163
@tansaku the image paths of the seeds in the backend are fine BUT on their way out, the backend middleware adds a prefix `/api/` to all strings that look like a url. That's the ~problem~ the code smell (violation of the [law of demeter](https://en.wikipedia.org/wiki/Law_of_Demeter)).

Here's the middleware:
https://github.com/Human-Connection/Nitro-Backend/blob/master/src/middleware/fixImageUrlsMi

[2019-03-18 16:36] roschaefer commented on #163
Literally **every** string that contains one of the [legacy urls](https://github.com/Human-Connection/Nitro-Backend/blob/master/src/middleware/fixImageUrlsMiddleware.js#L2) is substituted with `/api`. It should be substituted with empty string.

[2019-03-18 16:59] tansaku commented on #163
thanks @roschaefer - I think we understand all that - the problem is that we don't see any urls of that form when we run the system locally, and we can't upload images to test.  The issue is we want to be able to see that the fix we make has actually worked.   Did you upload the original screenshot?  Was that with imported data?

Anyway, perhaps we can do as @appinteractive suggests and look at ba

[2019-03-18 22:36] roschaefer commented on #163
Ah! I'm so driven by test-driven development that I forgot one might also want to *try out* the software. Excuse my ignorance, yes, I confirm @appinteractive that the only occurence I know of are the `.svg` files of the badges.

Just double-checked and there seems to be more images.
![2019-03-18-233030_1920x1080_scrot](https://user-images.githubusercontent.com/2110676/54567919-c4324000-49d5-11e9-8

[2019-03-19 00:04] roschaefer commented on #229
Done https://nitro-staging.human-connection.org/

[2019-03-19 00:04] #229 closed

[2019-03-19 00:05] #37 closed

[2019-03-19 00:05] #27 closed

[2019-03-19 07:20] datenbrei commented on #260
ok

[2019-03-19 15:57] roschaefer commented on #24
@datenbrei updated

[2019-03-19 15:58] roschaefer commented on #25
@datenbrei can you clarify this? I struggle to understand both the solution or the problem.

[2019-03-19 16:03] roschaefer commented on #26
@datenbrei I updated the description

@datenbrei could you tell me why this is required in order to switch from alpha->nitro? To me, this looks like a convenience feature which could be implemented after the switch.

[2019-03-19 16:06] roschaefer commented on #28
@datenbrei could you clarify this feature? What exactly would you want to see that is not visible on the user's profile page (which already displays all posts and comments)?

[2019-03-19 16:08] roschaefer commented on #29
@datenbrei updated

[2019-03-19 16:12] roschaefer commented on #32
@datenbrei updated

[2019-03-19 16:19] roschaefer commented on #33
@datenbrei could you clarify this? I would like to know what solution is acceptable.

This is a hard problem and unless we re-phrase this as "I wan to blacklist certain users because I don't want to see any of their content" I really don't know how to implement this. Especially since this is a feature marked as essential for our migration from alpha to nitro.

[2019-03-19 16:25] roschaefer commented on #35
@datenbrei do you want a captcha before signup?

Do we really want to exclude bots? There might be legitimate use-cases for bots.

We are about to implement Activity Pub. Users (and bots) from 3rd party networks will be allowed to post content in our network. We have no control over the signup of a user at Mastodon and I don't know of ActivityPub specifies any kind of enquiry about if user is huma

[2019-03-19 16:37] roschaefer commented on #36
@datenbrei updated

[2019-03-19 16:37] roschaefer commented on #38
@datenbrei can you explain what an "origin" is?

[2019-03-19 16:40] roschaefer commented on #39
@datenbrei updated

[2019-03-19 16:42] roschaefer commented on #40
@datenbrei updated

[2019-03-19 16:43] roschaefer commented on #43
@datenbrei why is this part of the migration from `alpha`->`nitro`?

[2019-03-19 16:48] roschaefer commented on #44
@datenbrei updated

[2019-03-19 16:54] roschaefer commented on #46
@datenbrei @appinteractive I don't get it. With "topic" you mean "category", no? The current implementation forces each post author to categorize the post with at least one category. Additionally authors can use #hashtags for better visibility.

How can we implement "matching topics"?

[2019-03-19 16:54] roschaefer commented on #46
@datenbrei why is this part of the migration `alpha`->`nitro`?

[2019-03-21 14:28] Mastercuber opened #271 "Proxy well-kown path to right backend path"
From the frontend the requests to the `/.well-known` path should all be proxied to the right backend path.

@roschaefer a question comes to my mind. Why to the backend? In the frontend it's possible to use something like [webfinger.js](https://www.npmjs.com/package/webfinger.js?__hstc=72727564.e835c34ab7bf88e972fdd7a7debc8575.1426032000053.1426032000054.1426032000055.1&__hssc=72727564.7.1426032000

[2019-03-21 14:58] Mastercuber commented on #271
Maybe we could also implement a post method for the `/.well-known/webfinger` router to handle the search for a user also in the activityPub component.

[2019-03-26 10:52] roschaefer commented on #271
closed via https://github.com/Human-Connection/Human-Connection/pull/243/files

[2019-03-26 10:52] #271 closed

[2019-03-26 10:53] roschaefer commented on #71
already implemented

[2019-03-26 10:53] #71 closed

[2019-03-26 11:25] roschaefer commented on #63
This particular issue is quite generic and there are plenty of issues about filtering already, so I'll close

[2019-03-26 11:25] #63 closed

[2019-03-26 11:35] roschaefer commented on #202
@Tirokk I hope you don't mind but I would like to close this. We have to do more code reviews and for the existing untranslated strings I would suggest to fix it along the way.

[2019-03-26 11:35] #202 closed

[2019-03-26 11:39] roschaefer commented on #224
@mirella-fortunato we're moving the entire code base into a single repo and I'm moving issues from [Nitro-Web](https://github.com/Human-Connection/Nitro-Web) to [Human-Connection](https://github.com/Human-Connection/Human-Connection) and I have to decide what to do with issues.

After you learned we have a translation service for this, are you OK to close this? If not, feel free to reopen [here](h

[2019-03-26 11:39] #224 closed

[2019-03-26 11:41] roschaefer commented on #223
Ok, I have the feeling this issue is resolved, no? If not feel free to reopen.

[2019-03-26 11:41] #223 closed

[2019-03-26 11:49] roschaefer commented on #147
@sushidave would it be OK to create an extra issue [here](https://github.com/Human-Connection/Human-Connection/issues) for every problem that exists in the alpha which also applies to the new codebase?

I'll close this for now, if you don't mind. This issue is very generic, so I don't know how to finish it.

[2019-03-26 11:49] #147 closed

[2019-03-26 11:56] roschaefer commented on #133
@sushidave I double-checked on [lokalise](https://lokalise.co/project/556252725c18dd752dd546.13222042/) and found out that we indeed have localized versions of some languages:
![Screenshot (46)](https://user-images.githubusercontent.com/2110676/54995129-52a25500-4fc6-11e9-84af-8e595df7b9d6.png)

But I would like to [keep-it-simple-stupid](https://en.wikipedia.org/wiki/KISS_principle) and just have

[2019-03-26 11:56] #133 closed

[2019-03-26 11:57] roschaefer commented on #5
I like the current setup that we publish the styleguide as a separate plugin, so I'm closing this. If anybody sees an advantage of using LernaJS over the status quo, feel free to reopen [here](https://github.com/Human-Connection/Human-Connection/issues).

[2019-03-26 11:57] #5 closed

[2019-03-26 12:05] roschaefer commented on #15
@kuerzi thanks for your issue but it's not quite clear to me what the problem-to-be-solved is here.

I like graph visualizations but I don't know if a visualization of all users might be a little out of scope for our network. Anybody can still access the backend through this [endpoint](https://nitro-staging.human-connection.org/api) and generate the visualization offline for journalism and researc

[2019-03-26 12:05] #15 closed

[2019-03-26 12:07] roschaefer commented on #171
![2019-03-26-130810_1920x1080_scrot](https://user-images.githubusercontent.com/2110676/54995816-f9d3bc00-4fc7-11e9-8cc2-2cc610937f47.png)

This is what `yarn run test --watch` gives me in folder `/webapp`. I think this can be closed.

[2019-03-26 12:07] #171 closed